<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid #ddd;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    .header {
      background-color: purple;
      color: white;
      text-align: center;
      padding: 10px;
    }
    .fw-bold {
      font-weight: 700;
    }
    .color-purple {
      color: purple;
    }
    .text-center {
      text-align: center;
    }
    .text-bottom-pl {
      padding-left: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>You just have received an order!</h1>
    </div>
    <p>A new order has been received. Here are the details of the order:</p>

    <p class="fw-bold color-purple">Order #<%= @order.id %> created on <%= @order.created_at.strftime("%d-%m-%Y") %> at <%= @order.created_at.strftime("%H:%M:%S") %>.</p>

   <table> 
      <tr>
        <th class="text-center">Item</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Price</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.product.name %> </td>
          <td class="text-center"><%= item.quantity %></td>
          <td class="text-center"><%= number_to_currency(item.product.price, unit: "", separator: "", delimiter: ".", precision: 0) %> ₫</td>
        </tr>
      <% end %>
      <tr>
        <td class="fw-bold color-purple"> Total payment: </td>
        <td colspan="2" class="text-center fw-bold color-purple"> <%= number_to_currency(@order.total, unit: "", separator: "", delimiter: ".", precision: 0) %> ₫</td>
      </tr>
    </table>

    <div class="fw-bold color-purple">
      <p>Billing information:</p>
    </div>

    <div class="text-bottom-pl">
      <p>Name: <%= @order.name %> </p>
      <p>Email: <%= @order.email %> </p>
      <p>Address: <%= @order.address %> </p>
      <p>Phone: <%= @order.phone %> </p>
    </div>

  </div>
</body>

